nav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 24px;
    right: 24px;
  }
  
  nav > a {
    margin: 0 24px;
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    cursor: grab;
  }
  
  .active {
    color: #646cff;
    text-decoration: underline;
  }